<a href="https://colab.research.google.com/github/MariaMikaelaGuiyab/Skyline-Math-200/blob/main/copy_of_copy_of_python_notebook_setup_by.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Research Question # __ : Include question here

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
url='https://drive.google.com/file/d/1IbHzUMYKFBkmW3TIvryP7XJlW-WkmGEw/view?usp=sharing'
path= 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
df = pd.read_csv(path)
df.head()

,AID,BIO_SEX,agew1,IMONTH4,IDAY4,IYEAR4,MACNO4,INTID4,BIO_SEX4,VERSION4,...,H4EO5C,H4EO5D,H4EO5E,H4EO5F,H4EO5G,H4EO5H,H4EO5I,H4EO5J,H4EO6,H4EO7
0,5710027,2,,,,,,,,,...,,,,,,,,,,
1,5710131,2,19.42739726,5,6,2008,2288160,160,2,V5.4,...,0,0,0,0,0,0,0,0,2,1
2,5710317,1,,,,,,,,,...,,,,,,,,,,
3,5710386,1,20.43013699,5,22,2008,2288238,238,1,V5.4,...,0,0,0,0,0,0,0,0,4,1
4,5710455,2,,,,,,,,,...,,,,,,,,,,

Codebook 1: Is there an association between how many cigarettes a day do you smoke and having frequent mood swings?

In [ ]:
#Manage data for variable 1

In [ ]:
df['H4TO11'].value_counts()

In [ ]:
df['cigars_smoked'] = df['H4TO11']

In [ ]:
df['cigars_smoked'] = df['cigars_smoked'].loc[ df['cigars_smoked'] !=' ']
df['cigars_smoked'] = df['cigars_smoked'].loc[ df['cigars_smoked'] !='7']
df['cigars_smoked'] = df['cigars_smoked'].loc[ df['cigars_smoked'] !='6']
df['cigars_smoked'] = df['cigars_smoked'].loc[ df['cigars_smoked'] !='8']
df['cigars_smoked'].value_counts()

In [ ]:
df['cigars_smoked'].replace(['1','2','3','4'] , ['10fewer','11to20', '21to30', '31more'], inplace = True)
df['cigars_smoked'].value_counts()

In [ ]:
#Graphs and Tables or statistics

In [ ]:
#Basic Pie Chart
df['cigars_smoked'].value_counts().plot(kind ='pie')

In [ ]:
#Starting Angle is 90 degrees
df['cigars_smoked'].value_counts().plot(kind ='pie',startangle = 90)

In [ ]:
#Add labels
df['cigars_smoked'].value_counts().plot(kind ='pie', autopct='%1.1f%%')

In [ ]:
#Add titles
plt.title("How many cigarettes a day do you smoke?")
df['cigars_smoked'].value_counts().plot(kind ='pie', autopct='%1.1f%%', colors=['olivedrab', 'rosybrown', 'gray', 'saddlebrown'])

In [ ]:
#Add wall paper
plt.title("How much does your health now limit you in activities?")
df['cigars_smoked'].value_counts().plot(kind ='pie', autopct='%1.1f%%', hatch=['**O',  '.||.'])

In [ ]:
#Add explode feature with legend
explode = (0.1, 0.1, 0.9,0.1)
df['cigars_smoked'].value_counts().plot(kind ='pie', autopct='%1.1f%%',  explode=explode, shadow=True, startangle=90)
plt.legend(loc ="lower left")

In [ ]:
#Basic Bar Chart
df['cigars_smoked'].value_counts(normalize = True).plot(kind ='bar')

In [ ]:
#Change color and width
df['cigars_smoked'].value_counts(normalize = True).plot(kind ='bar', color = 'maroon', width = 0.2)

In [ ]:
#Add title
plt.title("How many cigarettes do you smoke?")
df['cigars_smoked'].value_counts(normalize = True).plot(kind ='bar', color = 'green', width = 0.2)

In [ ]:
#Add Axis titles
plt.xlabel("cigarettes smoked")
plt.ylabel("Percent")
plt.title("How many cigarettes do you smoke?")
df['cigars_smoked'].value_counts(normalize = True).plot(kind ='bar', color = 'red', width = 0.2, alpha = 0.5)

In [ ]:
#horizontal bar graphs
plt.xlabel("cigarettes smoked")
plt.ylabel("Percent")
plt.title("How many cigarettes do you smoke?")
df['cigars_smoked'].value_counts(normalize = True).plot(kind ='barh', color = 'red', width = 0.2, alpha = 0.5)

In [ ]:
# Add GridLines
plt.xlabel("How many cigarettes do you smoke?")
plt.ylabel("Percent")
plt.title("How many cigarettes do you smoke??")
df['cigars_smoked'].value_counts(normalize = True).plot(kind ='barh', color = 'red', width = 0.2, alpha = 0.5, grid = True)

In [ ]:
#Manage data for variable 2
df['H4PE4'].value_counts()

In [ ]:
df['mood_swings'] = df['H4PE4']

In [ ]:
df['mood_swings'].loc[ df['mood_swings'] !=' ']
df['mood_swings'] = df['mood_swings'].loc[ df['mood_swings'] !='8']
df['mood_swings'] = df['mood_swings'].loc[ df['mood_swings'] !='6']
df['mood_swings'].value_counts()

In [ ]:
df['mood_swings'].replace(['1','2','3','4','5'] , ['disagree','agree', 'agreenordisagree', 'stronly_disagree','strongly_agree'], inplace = True)
df['mood_swings'].value_counts()

In [ ]:
#Graphs and tables or statistics

In [ ]:
#Basic Pie Chart
df['mood_swings'].value_counts().plot(kind ='pie')

In [ ]:
#Starting Angle is 90 degrees
df['mood_swings'].value_counts().plot(kind ='pie',startangle = 90)

In [ ]:
#Add labels
df['mood_swings'].value_counts().plot(kind ='pie', autopct='%1.1f%%')

In [ ]:
#Add titles")
plt.title("I have frequent moodswings")
df['mood_swings'].value_counts().plot(kind ='pie', autopct='%1.1f%%', colors=['olivedrab', 'rosybrown', 'gray', 'saddlebrown'])

In [ ]:
#Add wall paper
plt.title("I have frequent moodswings")
df['mood_swings'].value_counts().plot(kind ='pie', autopct='%1.1f%%', hatch=['**O',  '.||.'])

In [ ]:
#Add explode feature with legend
explode = (0.1, 0.1,0.1,0.4, 0.4)
df['mood_swings'].value_counts().plot(kind ='pie', autopct='%1.1f%%',  explode=explode, shadow=True, startangle=90)
plt.legend(loc ="lower left")

In [ ]:
#Basic Bar Chart
df['mood_swings'].value_counts(normalize = True).plot(kind ='bar')

In [ ]:
#Change color and width
df['mood_swings'].value_counts(normalize = True).plot(kind ='bar', color = 'maroon', width = 0.2)

In [ ]:
#Add title
plt.title("How many cigarettes do you smoke?")
df['mood_swings'].value_counts(normalize = True).plot(kind ='bar', color = 'green', width = 0.2)

In [ ]:
#Add Axis titles
plt.xlabel("cigarettes smoked")
plt.ylabel("Percent")
plt.title("How many cigarettes do you smoke?")
df['mood_swings'].value_counts(normalize = True).plot(kind ='bar', color = 'red', width = 0.2, alpha = 0.5)

In [ ]:
#horizontal bar graphs
plt.xlabel("cigarettes smoked")
plt.ylabel("Percent")
plt.title("How many cigarettes do you smoke?")
df['mood_swings'].value_counts(normalize = True).plot(kind ='barh', color = 'red', width = 0.2, alpha = 0.5)

In [ ]:
 Add GridLines
plt.xlabel("Do you have moodswings?")
plt.ylabel("Percent")
plt.title("Do you have moodswings?")
df['mood_swings'].value_counts(normalize = True).plot(kind ='barh', color = 'red', width = 0.2, alpha = 0.5, grid = True)